// imports

@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Palanquin:400,300,700&subset=latin,latin-ext);

@import url(../css/font-awesome-4.6.1.min.css);
@import url(../css/bootstrap.min.css);

// variables

@backgroundLight: #504f4d;
@backgroundDark: black;

@serifFont: "Economica", serif;
@sansSerifFont: "Palanquin", sans-serif;

@minDesktop: 980px;
@maxPhone: 767px;
@minTab: 768px;
@maxTab: 979px;

@max768: 768px;
@min1080p: 769px;
@max1080p: 1080px;
@minRetina: 1081px;
@maxRetina: 1800px;
@min4k: 1801px;
@max4k: 2160px;
@minFull: 2161px;

// mixins

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Floating button
.floating-button() {
	display: block;
	padding: 0.5em;
	width: 3em;
	height: 3em;
	text-align: center;
	background-color: black;
	.border-radius(0.5em);
}

// styles

@media (min-width: @minDesktop) {
}
@media (min-width: @minTab) and (max-width: @maxTab) {
}
@media (max-width: @maxPhone) {
}

* {
	font-family: @sansSerifFont;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: @backgroundDark;
	background-image: -webkit-linear-gradient(top, @backgroundDark, @backgroundLight);
	background-image:    -moz-linear-gradient(top, @backgroundDark, @backgroundLight);
	background-image:      -o-linear-gradient(top, @backgroundDark, @backgroundLight);
	background-image:         linear-gradient(top, @backgroundDark, @backgroundLight);
	background-repeat: no-repeat;
	background-attachment: fixed;

	&.landing {
		background-color: @backgroundDark;
		background-image: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @serifFont;
}

#content {
	margin-top: 0;
	background-color: white;
	padding: 1em 2em;

	word-wrap: break-word;
}

#error-wrapper {
	width: 100%;
	height: 100%;

	#error-content {
		position: relative;
		top: 50%;
		left: 0;
		width: 100%;
		webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

		color: white;
		text-align: center;
	}
}

#landing-wrapper {
	@media (orientation: landscape) {
		@media (max-height: @max1080p) {
			background-image: url(../img/background-1080p-landscape.jpg);
		}
		@media (min-height: @minRetina) and (max-height: @maxRetina) {
			background-image: url(../img/background-retina-landscape.jpg);
		}
		@media (min-height: @min4k) and (max-height: @max4k) {
			background-image: url(../img/background-4k-landscape.jpg);
		}
		@media (min-height: @minFull) {
			background-image: url(../img/background-full-landscape.jpg);
		}
		background-position: top left;
		background-size: auto 100%;
	}

	@media (orientation: portrait) {
		@media (max-width: @max1080p) {
			background-image: url(../img/background-1080p-portrait.jpg);
		}
		@media (min-width: @minRetina) and (max-width: @maxRetina) {
			background-image: url(../img/background-retina-portrait.jpg);
		}
		@media (min-width: @min4k) and (max-width: @max4k) {
			background-image: url(../img/background-4k-portrait.jpg);
		}
		@media (min-width: @minFull) {
			background-image: url(../img/background-full-portrait.jpg);
		}
		background-position: top center;
		background-size: cover;
	}

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;

	width: 100%;
	height: 100%;

	#landing-about {
		@media (orientation: portrait) {
			position: absolute;
			bottom: 0;

			background-color: rgba(0, 0, 0, 0.5);
			padding: 1em 0;

			width: 100%;
		}
		@media (orientation: landscape) {
			position: relative;
			top: 50%;
			left: 50%;
			width: 50%;
			webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		text-align: center;
		color: white;

		.name {
			font-family: @serifFont;
			font-weight: bold;
			font-size: 4em;

			@media (max-width: @maxPhone) {
				font-size: 2.5em;
			}
		}

		.profession {
			margin-top: 1em;
			font-size: 1.5em;

			@media (max-width: @maxPhone) {
				font-size: 1.2em;
			}
		}

		.skills {
			margin-bottom: 2em;
		}

		.social {
			margin-bottom: 2em;
			a {
				margin-left: 0.2em;
				margin-right: 0.2em;

				text-decoration: none;

				color: white;
				.fa {
					color: white;
				}
				.fa-inverse {
					color: black;
				}
			}

			.iconlink {
				font-size: 1.6em;
				width: 1.6em;
				text-align: center;
				line-height: 1.6em;
				border-radius: 0.8em;
				border: 1px solid white;
			}
		}

		.legal {
			font-size: 0.8em;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}

.to-top {
	position: fixed;
	right: 1em;
	bottom: 1em;
	cursor: pointer;
	display: none;

	.floating-button();

	i {
		color: white;
	}

	&.active {
		display: block;
	}
}

/*
.container {
	margin-right: auto;
	margin-left: auto;
	@media (max-width: @maxPhone) {
		width: auto;
	}
	@media (min-width: @minTab) and (max-width: @maxTab) {
		width: 724px;
	}
	@media (min-width: @minDesktop) {
		width: 940px;
	}
}
*/

// sidebar

@sidebarWidth: 15em;

#sidebar-checkbox {
	display: none;
}

#sidebar-toggle {
	position: fixed;
	right: 1em;
	top: 1em;
	cursor: pointer;
	z-index: 1001;

	.floating-button();

	i {
		color: white;
	}
}

body.landing #sidebar-toggle {
	background-color: transparent;
}

#sidebar {
	visibility: hidden;

	position: fixed;
	top: 0;
	right: -@sidebarWidth;
	width: @sidebarWidth;
	height: 100%;

	overflow-y: auto;

	@background: rgba(255, 255, 255, 0.2);
	@colorPrimary: rgba(0, 0, 0, 0.8);
	@colorSecondary: rgba(0, 0, 0, 0.5);
	@colorBorder: rgba(255, 255, 255, 0.2);

	background-color: @background;

	color: white;

	text-align: right;

	ul.sidebar-nav {
		list-style: none;
		margin: 0;
		padding: 0;

		border-top: 1px solid @colorBorder;

		a {
			display: block;
			padding: 1em 2em;
			color: white;
			text-decoration: none;
		}

		li {
			border-bottom: 1px solid @colorBorder;
		}

		li.active {
			font-weight: bold;
		}

		li:hover {
			background-color: @colorSecondary;
		}
	}

	.sidebar-item {
		padding: 1em;
	}
}

#sidebar-wrap {
	width: 100%;
	height: 100%;
}

.sidebar-move {
	-webkit-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
}

#sidebar-checkbox:checked ~ #sidebar {
	visibility: visible;
}

#sidebar-checkbox:checked ~ .sidebar-move {
	  -webkit-transform: translateX(-@sidebarWidth);
	      -ms-transform: translateX(-@sidebarWidth);
	          transform: translateX(-@sidebarWidth);
}

