<link rel="webmention" href="https://webmention.io/foosel.net/webmention" />
<link rel="pingback" href="https://webmention.io/foosel.net/xmlrpc" />
<link rel="human-json" href="{{ .Site.BaseURL }}human.json" />

<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}feed.xml" title="All posts on foosel.net" />
<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}blog/feed.xml" title="Blog posts on foosel.net" />
<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}til/feed.xml" title="TIL posts on foosel.net" />

<meta name="fediverse:creator" content="@foosel@chaos.social" />

<script defer data-domain="foosel.net" src="https://plausible.foosel.net/js/script.js"></script>
